.programs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.program {
  margin: 60px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  transition: 0.4s;
}

.program img {
  width: 120%;
  border-radius: 12px;
  display: block;
}

.program {
  flex-basis: 21%;
}

.caption {
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  /* style the caption of img and p tage */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  /* hide caption by default */
  width: 120%;
  padding-top: 70%;
  transition: 0.4s;
  color: #fff;
}

.caption img {
  width: 100px;
  margin-bottom: 10px;
}
/* show the caption on hover */
.program:hover .caption {
  opacity: 1;
  padding-top: 0;
}

.program:hover {
  margin-top: 10px;
}
