.title {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
  text-align: center;
  /* text align centers text relative to the whole page */
}

.title h2 {
  font-size: 32px;
  color: black;
  text-transform: uppercase;
}

.title p {
  font-size: 20px;
  color: black;
  text-transform: none;
}
