.contact {
  margin: 80px auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  gap: 10%;
}

.contact-column {
  flex-basis: 48%;
  box-sizing: border-box;
}

.contact-column h3 {
  font-weight: 6000;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-column h3 img {
  width: 35px;
  margin-left: 10px;
}

.contact-column ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-column ul li img {
  width: 3.5%;
  margin: 10px;
}

.contacts-form input,
.contacts-form textarea {
  display: block;
  width: 200%;
  padding: 15px;
  border: 2px solid lightblue;
  outline: none;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
  background-color: transparent;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.contacts-form input:hover,
.contacts-form textarea:hover {
  transform: translateY(-3px); /* Moves input up */
  box-shadow: 0 4px 10px rgba(0, 191, 255, 0.3); /* Light blue shadow */
}

.contacts-form input:focus,
.contacts-form textarea:focus {
  border-color: deepskyblue;
  box-shadow: 0 0 5px deepskyblue;
}

button:hover {
  border: 2px solid green;
  background: lightcyan;
  transform: translateY(-3px); /* Moves button up */
  transition: transform 0.3s ease;
}

/* media querys */
